/* RESETS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2C2B3D;
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh;

}

a{
    text-decoration: none;
    color: #fff;
}

a:hover {
    font-weight: bold;
}

/* PAGE */

#page {
    width: 1090px;
    margin: auto;
    padding-top: 71px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 64px;
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
    opacity: 1;
}

main {
    margin-top:107px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

main h2 {
    font-size: Bold;
    font-size: 36px;
    line-height: 40px;

    color: #FFF;
}

span {
    color: #00BFA6;
}

main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;

    text-align: center;

    margin-top: 59px;

    color: #C2C2C2;
}

footer {
    margin-top: 157px;
    text-align: center;
    color: #FFF;
}

footer .line {

    width: 568px;
    margin: 0 auto 27px;
    border: 1px solid #00BFA6;

}

.sect {
    position: fixed;
    bottom: 0;
    left: 0;
}



